/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/**
* Reset
*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}
header{
    position: fixed;
    width: 100%;
    z-index: 111;
    background-color: #ffffff;
}
.main{
    padding-top: 100px;
    margin: 0 auto;
    
    width: 100%;
    
}

.main *{
    max-width: 100%;
}


.cont{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 2px 3px rgba(0,0,0,.2);
            box-shadow: 0 0 2px 3px rgba(0,0,0,.2);
}


.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}



/**
* Font styles
*/

h1,h2,h3,h4,h5,h6,p,a{
    font-family: sans-serif;
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url('../fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url('../fonts/Rajdhani/Rajdhani-Regular.ttf');
}


.logo{
    font-family: BebasNeue-Regular;
    font-size: 1.3em;
    word-spacing: 5%;
    letter-spacing: 4px;
    font-weight: 500;
}

.li__a{
    font-family: Rajdhani-Regular;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    font-weight: 700;
}

/**
* Default List styles
*/

/**
* Default List styles for Desktop
*/

.ul__li--animated:nth-child(1) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.3s;
            animation: fadeIn 0.5s ease forwards 0.3s;
}

.ul__li--animated:nth-child(2) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.4s;
            animation: fadeIn 0.5s ease forwards 0.4s;
}

.ul__li--animated:nth-child(3) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.5s;
            animation: fadeIn 0.5s ease forwards 0.5s;
}

.ul__li--animated:nth-child(4) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.6s;
            animation: fadeIn 0.5s ease forwards 0.6s;
}

.ul__li--animated:nth-child(5) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.7s;
            animation: fadeIn 0.5s ease forwards 0.7s;
}

.ul__li--animated:nth-child(6) .li__a--animated {
    -webkit-animation: fadeIn 0.5s ease forwards 0.8s;
            animation: fadeIn 0.5s ease forwards 0.8s;
}

.li__a--animated {
    color: #333; /* Dark text color */
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    opacity: 0; /* Start with opacity 0 */
}

.li__a--animated:hover {
    color: #36b807; /* Green color on hover */
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





/**
*   Header Styles
*/
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .5);
    height: 100px;
}

.header__logo-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0 10px 0 10px;
}

@media screen and (min-width: 720px) {
    
}

/**
* Desktop menu
*/

.desktop-navigation{
    display: none;   
   }
   
   @media only screen and (min-width: 720px){
       .desktop-navigation{
           display: block;

       }
   
       .desktop-navigation ul{
            list-style-type: none; /* Remove bullet points */
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex; /* Enable flexbox layout */
           
       }

       .desktop-navigation ul li{
            margin-right: 10px; /* Adjust spacing between items */
        }

        .desktop-navigation ul li a{
            text-decoration: none; /* Remove underline from links */
            color: #000; /* Set text color */
            white-space: nowrap; /* Prevent text from wrapping to the next line */
            overflow: hidden; /* Hide overflowed text */
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
            display: inline-block;
        }
   }
   

/**
*   Icon styles
*/
.icon{
    width: 3em;
    height: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: #36b807;
}

.icon:hover{
    cursor: pointer;
}

.icon , .icon--nofocus, a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icon--nofocus:focus, a {
    outline: none !important;
}

.icon--li{

    max-height: 40px;
    display: inline;
    
}

/**
* Hamburger Menu Styles
*/
.hamburger{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 7px;
}

.hamburger__bar{
    width: 30px;
    height: 4px;
    background-color: #000;
}

/**
* Mobile Navigation Menu
*/

@-webkit-keyframes mobile_menu{
    from { left: -300px}
    to { left: -3px;}
}

@keyframes mobile_menu{
    from { left: -300px}
    to { left: -3px;}
}

@-webkit-keyframes mobile_menu_close{
    from { left: -3px; display: block; }
    to { left: -300px; display: none;}
}

@keyframes mobile_menu_close{
    from { left: -3px; display: block; }
    to { left: -300px; display: none;}
}


.mobile_menu{
    display: block;
    position: fixed;
    width: 300px;
    height: calc(100vh + 30px);
    background-color: white;
    z-index: 11111;
    top: -3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    
}

.mobile_menu--visible{
    
    -webkit-animation-name: mobile_menu;
    
            animation-name: mobile_menu;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    left: -3px;
}

.mobile_menu--hidden{

    -webkit-animation-name: mobile_menu_close;

            animation-name: mobile_menu_close;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    left: -300px;
    display: none;
}

.mobile_menu--wrapper{
    padding: 100px 0 0 30px;
    position: relative;
   
}

.fade_screen{
    display: none;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 11111;
    top: 0;
}

@-webkit-keyframes show_fade_screen{
    from{display: none; opacity: 0;}
    to{ display: block; opacity: 100%;}
}

@keyframes show_fade_screen{
    from{display: none; opacity: 0;}
    to{ display: block; opacity: 100%;}
}

@-webkit-keyframes hide_fade_screen{
    from{display: block; opacity: 100%;}
    to{ display: none; opacity: 0%;}
}

@keyframes hide_fade_screen{
    from{display: block; opacity: 100%;}
    to{ display: none; opacity: 0%;}
}

.fade_screen--visible{
   display: block;
   opacity: 100%;
   -webkit-animation-name: show_fade_screen;
           animation-name: show_fade_screen;
   -webkit-animation-duration: 1s;
           animation-duration: 1s;
   -webkit-animation-fill-mode: forwards;
           animation-fill-mode: forwards;
}


.fade_screen--hidden{
    display: none;
    opacity: 0;
    -webkit-animation-name: hide_fade_screen;
            animation-name: hide_fade_screen;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}



.mobile_menu__nav{}

.nav__ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    list-style: none;
}

.ul__li{}
.ul__li--mobile{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    gap: 0px;
    
}

.li__a--mobile{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.a__icon{
    
    height: 40px;
    width: 40px;
}

@media screen and (min-width: 720px) {
    .mobile_menu{
        display: none;
    }

    .hamburger{
        display: none;
    }

    .fade_screen, .fade_visible, .fade_hidden{
        display: none !important;
    }
}


/** Animated Close Button **/
.wrapper {
    width: 100px;
    height: 100px;
    right: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    position: absolute;
  }
  .close-button {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    color: black;
  }
  .close-button > div {
    position: relative;
  }
  .close-button-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }
  .close-button-block:before, .close-button-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 25px;
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center;
    background: black;
    -webkit-transition: all ease-out 280ms;
    -o-transition: all ease-out 280ms;
    transition: all ease-out 280ms;
  }
  .close-button-block:last-of-type {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .close-button .in .close-button-block:before {
    -webkit-transition-delay: 280ms;
         -o-transition-delay: 280ms;
            transition-delay: 280ms;
    -webkit-transform: translateX(20px) translateY(-20px) rotate(45deg);
        -ms-transform: translateX(20px) translateY(-20px) rotate(45deg);
            transform: translateX(20px) translateY(-20px) rotate(45deg);
  }
  .close-button .in .close-button-block:after {
    -webkit-transition-delay: 280ms;
         -o-transition-delay: 280ms;
            transition-delay: 280ms;
    -webkit-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
        -ms-transform: translateX(-22px) translateY(-22px) rotate(-45deg);
            transform: translateX(-22px) translateY(-22px) rotate(-45deg);
  }
  .close-button .out {
    position: absolute;
    top: 0;
    left: 0;
  }
  .close-button .out .close-button-block:before {
    -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
        -ms-transform: translateX(-5px) translateY(5px) rotate(45deg);
            transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  .close-button .out .close-button-block:after {
    -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
        -ms-transform: translateX(5px) translateY(5px) rotate(-45deg);
            transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  .close-button:hover .in .close-button-block:before {
    -webkit-transform: translateX(-5px) translateY(5px) rotate(45deg);
        -ms-transform: translateX(-5px) translateY(5px) rotate(45deg);
            transform: translateX(-5px) translateY(5px) rotate(45deg);
  }
  .close-button:hover .in .close-button-block:after {
    -webkit-transform: translateX(5px) translateY(5px) rotate(-45deg);
        -ms-transform: translateX(5px) translateY(5px) rotate(-45deg);
            transform: translateX(5px) translateY(5px) rotate(-45deg);
  }
  .close-button:hover .out .close-button-block:before {
    -webkit-transform: translateX(-20px) translateY(20px) rotate(45deg);
        -ms-transform: translateX(-20px) translateY(20px) rotate(45deg);
            transform: translateX(-20px) translateY(20px) rotate(45deg);
  }
  .close-button:hover .out .close-button-block:after {
    -webkit-transform: translateX(20px) translateY(20px) rotate(-45deg);
        -ms-transform: translateX(20px) translateY(20px) rotate(-45deg);
            transform: translateX(20px) translateY(20px) rotate(-45deg);
  }

/**
* Hero styles
*/
.random-box{
    width: 100px;
    height: 300px;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

.hero-section {
    padding: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 500px;
    overflow: hidden;
}

.hero-section__image {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 1;
}



.hero-section::before {
   
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    z-index: 2;
}

.hero-section__content {
    padding: 0;
    position: relative;
    z-index: 3;
    color: white;
    max-width: 1000px;
}

.hero__title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero__subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero__button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: #36b807;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.hero__button:hover {
    background-color: #4da128;
}

.hero-video{
    position: absolute;
    top: 0;
    
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    width: 100%;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hero__title {
        font-size: 2rem;
    }
    .hero__subtitle {
        font-size: 1.2rem;
    }
    .hero__button {
        padding: 12px 24px;
    }
}



/* Services Section Styles */
.services {
    padding: 50px 20px;
    background-color: #F9F9F9; /* Light gray background */
}

.services__title {
    margin-top: 0;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.services__list {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.services__item {
    margin: 0 20px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
}

.services__item-title {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.services__image{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.image__circle {
    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative; /* Needed for positioning pseudo-element */
    
    background-position: center center; /* Set your background image */
    background-size: cover; /* Adjust as needed */
}

.image__circle::before {
    content: ''; /* Required for pseudo-elements to display */
    position: absolute; /* Needed to position inside the parent */
    top: 125px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 125px;
    height: 125px;
    border-radius: 0 0 0 50px;
     /* Position the background image */
    background-size: 250px 250px; /* Match the size of the parent */
    
    background-position: bottom left;
}

.image__circle--01, .image__circle--01::before{
    background-image: url('../imgs/lawn01.jpg');
}

.image__circle--02, .image__circle--02::before{
    background-image: url('../imgs/hedge01.jpg');
}

.image__circle--03, .image__circle--03::before{
    background-image: url('../imgs/garden01.jpg');
}

.image__circle--04, .image__circle--04::before{
    background-image: url('../imgs/gutter01.jpg');
}

/* About Us Section Styles */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #36b807;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about *{
    max-width: 1000px;
}

.about__title {
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 30px;
}

.about__content {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Contact Section Styles */
.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #36b807;
    padding: 40px 20px;
    color: #fff;
}

.contact__flex-div,
.contact__form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 300px; /* Adjust as needed */
    margin: 10px;
    background: #fff;
    
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.contact__form{
    color: #333;
}
.contact__flex-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
    color: white;
    
}

.contact__title {
    font-size: 2.4rem;
    margin-bottom: 10px;
   
}

.contact__content {
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact__input,
.contact__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact__textarea {
    height: 100px;
}

.contact__button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.contact__button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px 10px;
    }

    .contact__flex-div,
    .contact__form {
        min-width: 100%;
        margin: 0 0 20px;
    }
}

/* Footer Section Styles */
.footer {
    background-color: #333; /* Dark background */
    color: white;
    padding: 20px;
    text-align: center;
}

.footer__text {
    margin: 0;
}

.footer__navigation {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.footer__navigation-item {
    display: inline;
    margin-right: 20px;
}

.footer__navigation-link {
    color: white;
    text-decoration: none;
}



.nav__ul--mobile {
    padding: 50px 0;
    list-style-type: none;
    text-align: center;
    -webkit-animation: slideIn 0.5s ease forwards;
            animation: slideIn 0.5s ease forwards;
}

.ul__li--mobile {
    margin-bottom: 20px;
    opacity: 0 ;
}

/**
* Default List styles
*/

.ul__li--animated-mobile:nth-child(1) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.3s;
            animation: fadeIn 1s ease forwards 0.3s;
}

.ul__li--animated-mobile:nth-child(2) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.4s;
            animation: fadeIn 1s ease forwards 0.4s;
}

.ul__li--animated-mobile:nth-child(3) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.5s;
            animation: fadeIn 1s ease forwards 0.5s;
}

.ul__li--animated-mobile:nth-child(4) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.6s;
            animation: fadeIn 1s ease forwards 0.6s;
}

.ul__li--animated-mobile:nth-child(5) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.7s;
            animation: fadeIn 1s ease forwards 0.7s;
}

.ul__li--animated-mobile:nth-child(6) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.8s;
            animation: fadeIn 1s ease forwards 0.8s;
}

.li__a--animated-mobile {
    color: #333; /* Dark text color */
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    opacity: 0; /* Start with opacity 0 */
}

.li__a--animated-mobile:hover {
    color: #36b807; /* Green color on hover */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes slideIn {
    0% {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


/**
* Default List styles
*/

.ul__li--animated-mobile:nth-child(1) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.3s;
            animation: fadeIn 1s ease forwards 0.3s;
}

.ul__li--animated-mobile:nth-child(2) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.4s;
            animation: fadeIn 1s ease forwards 0.4s;
}

.ul__li--animated-mobile:nth-child(3) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.5s;
            animation: fadeIn 1s ease forwards 0.5s;
}

.ul__li--animated-mobile:nth-child(4) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.6s;
            animation: fadeIn 1s ease forwards 0.6s;
}

.ul__li--animated-mobile:nth-child(5) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.7s;
            animation: fadeIn 1s ease forwards 0.7s;
}

.ul__li--animated-mobile:nth-child(6) .li__a--animated-mobile {
    -webkit-animation: fadeIn 1s ease forwards 0.8s;
            animation: fadeIn 1s ease forwards 0.8s;
}

.li__a--animated-mobile {
    color: #333; /* Dark text color */
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    opacity: 0; /* Start with opacity 0 */
}

.li__a--animated-mobile:hover {
    color: #36b807; /* Green color on hover */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* About Us Title */
h2.about__title {
    color: #FFFFFF; /* Adjusted to black for better contrast */
    background-color: #36b807;
    font-size: 32px;
    font-weight: bold;
}

/* About Us Content */
p.about__content {
    color: #FFFFFF; /* Adjusted to black for better contrast */
    background-color: #36b807;
    font-size: 19.2px;
    font-weight: normal;
}

/* Individual Names and Links */
strong {
    color: #0000ff; /* Adjusted to a darker blue for better contrast */
    background-color: #ffffff;
    font-size: 17px;
    font-weight: bold;
}

a.sk-google-review-button-more {
    color: #0000ff; /* Adjusted to a darker blue for better contrast */
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}

/* Load More Reviews Button */
button.sk-google-reviews-load-more-posts {
    color: #ffffff;
    background-color: #eb6e00;
    font-size: 14px;
    font-weight: normal;
}

/* Contact Us Title */
h2.contact__title {
    color: #FFFFFF; /* Adjusted to black for better contrast */
    background-color: #36b807;
    font-size: 38.4px;
    font-weight: bold;
}

/* Contact Us Content */
p.contact__content {
    color: #FFFFFF; /* Adjusted to black for better contrast */
    background-color: #36b807;
    font-size: 22.4px;
    font-weight: normal;
}


/* Submit Button */
button.contact__button {
    color: #ffffff; /* White text */
    background-color: #0056b3; /* Darker blue background */
    font-size: 16px;
    font-weight: normal;
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove border if not required */
}

/* Adjust padding and border styles as per your design */

/* Hover state (optional, adjust as per your design) */
button.contact__button:hover {
    background-color: #007bff; /* Lighter blue on hover */
    cursor: pointer; /* Change cursor on hover */
}


.sk-google-review-button-more {
    color: #0056b3; /* Adjusted foreground color to meet contrast ratio */
}
.sk-google-reviews-load-more-posts {
    color: #000000; /* Black text */
}
.facebook-promo {
    /* position: fixed;
    top: 80px;
    left: 0; */
    width: 100%;
    background-color: #3b5998; /* Facebook blue */
    color: #fff;
    padding: 15px 0; /* Reduced padding */
    text-align: center;
    z-index: 1000; /* Ensure it's above other content */
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.facebook-promo__content {
    gap: 30px;
    margin: 0 auto; /* Center content horizontally */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    -webkit-box-pack: center;
    
        -ms-flex-pack: center;
    
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.facebook-promo__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.facebook-promo__text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.facebook-promo__link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #3b5998; /* Facebook blue */
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.facebook-promo__link:hover {
    background-color: #e9ecef; /* Light background on hover */
    color: #3b5998; /* Facebook blue */
}

.fab.fa-facebook-f {
    /* margin-right: 10px; */
}


.alert {
    padding: 20px;
    
    color: white; /* White text */
    margin-bottom: 15px; /* Space below the alert */
    border-radius: 5px; /* Rounded corners */
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

.alert ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
}

.alert li {
    margin-bottom: 10px; /* Space between list items */
}

.alert:empty {
    display: none; /* Hide alert box if empty */
}

@media (max-width: 600px) {
    .alert {
        padding: 15px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Smaller font size */
    }

    .alert li {
        margin-bottom: 8px; /* Adjust margin for smaller screens */
    }
}

.alert--danger{
    background-color: #f44336; /* Red background */
}

.alert--success{
    background-color: #44CC5D;
}


/* Social media icons */
.social-icons {
margin-top: 20px;
text-align: center;
}

.social-icon {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
width: 40px;
height: 40px;
background-color: #3b5998; /* Facebook blue */
color: #fff;
font-size: 1.5rem;
text-align: center;
border-radius: 50%;
margin: 0 10px;
-webkit-transition: background-color 0.3s ease;
-o-transition: background-color 0.3s ease;
transition: background-color 0.3s ease;
}

.social-icon:hover {
background-color: #2d4373; /* Darker shade of Facebook blue on hover */
}

.social-ad-text {
margin-top: 10px;
font-size: 0.9rem;
color: white;
text-align: center;
}

